@font-face {
   font-family: "MV Boli";
   src: url("fonts/MV Boli.woff") format("woff"), url("fonts/MV Boli.eot") format("embedded-opentype"), url("fonts/MV Boli.ttf") format("truetype"), url("fonts/MV Boli.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}